<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>

    {# ----------------- STATIC FILES -------------- #}
    {% load staticfiles %}
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}"/>
    {% block site_css %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}
    {% block extra_css %}{%endblock%}
    <meta name="viewport" content="width=device-width">
    {% block js %}
      <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
       <script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
    {%endblock%}
</head>
<body>
    {%block navbar%}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Brdyorn</a>
          <ul class="nav pull-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Placeholder<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class=""><a href="/stuff">Stuff</a></li>
              </ul>
            </li>
            <li class=""><a href="/contact">Contact</a></li>
          
            {% if user.is_authenticated %}
            <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" >
              <i class-"icon-user"></i>
              {%if user.is_authenticated %}
                {{ user.username }}
              {%endif%}
              <span class="caret"></span>
            </a>
              <ul class="dropdown-menu">
                <li class=""><a href="/portal">Main</a></li>
                <li class="divider"></li>
                <li class=""><a href="/logout">Logout</a></li>
              </ul>
            </div>
            {%endif%}
   
          </ul>
        </div>
      </div>
    </div>
    {%endblock%}
    
    <div class="container">

    <div class="row">
    <div class="span9">
      <div id="content">
        <br>
        {%block content%}{%endblock%}
      </div>
    </div>

    <div class="span3">
      <div id="sidebar">
        {%block main-sidebar%}
          {%include 'sidebar.html'%}
        {%endblock%}
      </div>
    </div>
      
  </div>
  </div><!--end container-->
<hr>
{%include 'footer.html'%}

</body>

</html>

